<% layout('layouts/boilerplate')%>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12"  >
                <canvas id="myChart" class="table"  ></canvas>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mt-6">
                <form action="/render_plat">

                    <label for="coin">Look up a specific platform:</label>
                    <select name="platform" id="platform">
                        <% for (let name of names){ %>
                            <option value="<%=name%>">
                                <%=name%>
                            </option>
                            <%}%>
                    </select>

                    <button>submit</button>
                </form>
            </div>

            <h2>High: <%=parseFloat(high).toLocaleString()%>
            </h2>
            <div>High in Profit: $<%= (parseFloat(high) * 0.001).toLocaleString() %>
            </div>
            <h2>Low: $<%=parseFloat(low).toLocaleString()%>
            </h2>
            <div>Low in Profit: $<%= (parseFloat(low) * 0.001).toLocaleString() %>
            </div>
            <h2>Summation: $<%=parseFloat(summation).toLocaleString()%>
            </h2>
            <div>Summation in Profit: $<%= (parseFloat(summation) * 0.001).toLocaleString() %>
            </div>
            <h2>Average: $<%=parseFloat(average).toLocaleString()%>
            </h2>
            <div>Average Profits: $<%= (parseFloat(average) * 0.001).toLocaleString() %>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


        <script>

            var dates = <%- JSON.stringify(dates) %>;
            var volumes = <%- JSON.stringify(volumes) %>;
            const ctx = document.getElementById('myChart');

            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        label: 'Total Spot Market Volume',
                        data: volumes,
                        borderWidth: 1
                    }]
                }, options: {
                    responsive: true, 
                }

            });
        </script>
    </div>