<% layout('layouts/boilerplate')%>

<div class="row">
    <div class="col-8">
        <canvas id="myChart"></canvas>
    </div>
    <div class="mt-6 col-4">
        <form action="/render_coin">
            <label for="coin">Look up a specific Coin:</label>
            <select name="coin" id="coin">
                <% for (let name of names){ %>
                    <option value="<%=name%>">
                        <%=name%>
                    </option>
                    <%}%>
            </select>
            
            <button>submit</button>
        </form>
    </div>
    <h2>High: $<%=parseFloat(high).toLocaleString()%></h2>
        <h2>Low: $<%=parseFloat(low).toLocaleString()%></h2>
        <h2>Summation: $<%=parseFloat(summation).toLocaleString()%></h2>
        <h2>Average: $<%=parseFloat(average).toLocaleString()%></h2>
</div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    <script>

        var dates = <%- JSON.stringify(dates) %>;
        var volumes = <%- JSON.stringify(volumes) %>;
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Average Prices',
                    data: volumes,
                    borderWidth: 1
                }]
            },

        });
    </script>