<% layout('layouts/boilerplate')%>

    <div class="container">

        <div class="row">
            <div class="col-8">
                <canvas id="myChart"></canvas>
            </div>
            <div class="mt-6 col-4">
                <form action="/render_plat">

                    <label for="coin">Look up a specific platform:</label>
                    <select name="platform" id="platform">
                        <% for (let name of names){ %>
                            <option value="<%=name%>">
                                <%=name%>
                            </option>
                            <%}%>
                    </select>

                    <button>submit</button>
                </form>

                <a href="/render_der?platform=<%=name%>">View <%=name%>'s Derivative Traffic</a>
                <br>
                <a href="/render_week?platform=<%=name%>">View <%=name%>'s Weekly Visits</a>
                <br>
                <a href="/render_intrest?platform=<%=name%>">View <%=name%>'s Open Intrest</a>
            </div>


            <h2>High: <%=parseFloat(high).toLocaleString()%>
            </h2>
            <div>High in Profit: $<%= (parseFloat(high) * 0.001).toLocaleString() %>
            </div>
            <h2>Low: $<%=parseFloat(low).toLocaleString()%>
            </h2>
            <div>Low in Profit: $<%= (parseFloat(low) * 0.001).toLocaleString() %>
            </div>
            <h2>Summation: $<%=parseFloat(summation).toLocaleString()%>
            </h2>
            <div>Summation in Profit: $<%= (parseFloat(summation) * 0.001).toLocaleString() %>
            </div>
            <h2>Average: $<%=parseFloat(average).toLocaleString()%>
            </h2>
            <div>Average Profits: $<%= (parseFloat(average) * 0.001).toLocaleString() %>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var volumes = <%- JSON.stringify(volumes) %>;
        var name = <%- JSON.stringify(name) %>;
        var dates = <%- JSON.stringify(dates) %>;
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: `${name} Spot Traffic`,
                    data: volumes,
                    borderWidth: 1
                }]
            },

        });
    </script>